<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb</title>
</head>
<body>
    <h3>Create a NEW Listing</h3>
    <br>
    <form method="POST" action="/listings">

        <input name="Listing[title]" placeholder="enter title" type="text">
        <br>
        <textarea name="Listing[description]" placeholder="enter description" type="text"></textarea>
        <br>
        <input name="Listing[image]" placeholder="enter image URL/link" type="text">
        <br>
        <input name="Listing[price]" placeholder="enter title" type="number">
        <br>
        <input name="Listing[location]" placeholder="enter location" type="text">
        <br>
        <input name="Listing[country]" placeholder="enter country" type="text" >
        <br><br>

        <button>Add</button>
    </form>
    
</body>
</html>